*.pdf
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.upa
*.upb
*.aux
sections/*.pdf
sections/*.fdb_latexmk
sections/*.fls
sections/*.log
sections/*.synctex.gz
sections/*.toc
sections/*.upa
sections/*.upb
sections/*.aux